html {
    font-family: 'Courier New', Courier, monospace;
}

/*Styling for the navigation bar*/
nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    border-right: solid;
    border-right-color: black;
    height: 100%;
    border-top-right-radius: 11%;
    border-bottom-right-radius: 19%;
    border-width: .5rem;
    
}

/*Styling for navigation list items*/
.nav-bar ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding: 0%;
}

.logo-placeholder {
    display: block;
    position: relative;
    background-color: #cc4008;
    height: 100px;
    width: 100px;
    color: aliceblue;
    font-size: x-large;
    margin: 18em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    justify-content: center;
}

.logo-text {
    position: absolute;
    top: 25%;
    left: 25%;
    margin: 10px 10px 10px 10px;
}


/*Keep margin between 1 and 2em*/
header {
    margin: 1em;
}



.nav-link {
    border-bottom: solid;
    list-style: none;
    width: 100%;
    font-size: larger;
    text-align: center;
}

main {
    display: block;
    position: right;
    margin-left: 310px;
    padding-left: 2rem;

}

hr {
    border-color: rgba(0, 0, 0, 0.315);
    margin-top: 3rem;

}

h1, h3 {
    text-align: center;
}

.components {
    background-color: rgb(109, 114, 114); 
    color: rgb(238, 238, 238); 
    display: block;
    padding-left: 4rem;
}