html {
    font-family: 'Courier New', Courier, monospace;
}

/*Styling for the navigation bar*/
nav {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-right: solid;
    border-right-color: black;
    height: 100%;
    border-top-right-radius: 11%;
    border-bottom-right-radius: 19%;
    border-width: .5rem;
    
}

/*Styling for navigation list items*/
.nav-bar ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding: 0%;
}

#logo {
    display: block;
    position: relative;
     height: 100px;
    width: 100px;
    margin: 9em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    justify-content: center;
}

#logo-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #cc4008; 
    color: rgb(1, 6, 10);
    font-size: x-large;
    z-index: 1;
    font-family: inherit;
    font-size: 1cm;
    
}

#logo-button:hover {
    color: rgb(0, 31, 170);
    background-color: hsl(0, 0%, 0%);
    border-color: blue;
}



/*Keep margin between 1 and 2em*/
header {
    margin: 1em;
}



.nav-link {
    border-bottom: solid;
    list-style: none;
    width: 100%;
    font-size: larger;
    text-align: center;
}

main {
    display: block;
    position: right;
    margin-left: 310px;
    padding-left: 2rem;

}

hr {
    border-color: rgba(0, 0, 0, 0.315);
    margin-top: 3rem;

}

h1, h3 {
    text-align: center;
}

.components, .assembly {
    background-color: rgb(109, 114, 114); 
    color: rgb(238, 238, 238); 
    display: block;
    padding-left: 4rem;
}
    
#fan-one {
        display: block;
        width: 300px;
        height: 300px;
        margin-top: auto;
        position: relative;
        top:40px;
        border: 2px solid black;
        animation: spin 2s infinite linear;
        border-radius: 50%;
        margin-bottom: 1em;
        margin-left: 10px;
        margin-right: 10px;
        padding: auto;
        

        

        }
        img{
         width: 40px;
         height: 40px;
         position:absolute;
        

        }
        @keyframes spin {
         100%{
         transform: rotateZ(360deg);
         }

        
        }

#fan-two {
    display: block;
    width: 300px;
    height: 300px;
     margin:auto;
     position: relative;
     top:40px;
     border: 2px solid black;
     animation: spin 2s infinite linear;
    border-radius: 50%;
    padding: auto;
    

    

    }   
     
    img{
     width: 40px;
     height: 40px;
     position:absolute;
    

    }
    @keyframes spin {
     100%{
     transform: rotateZ(-360deg);
     }
    }